@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@font-face {
  font-family: "DMSans", sans-serif;
  src: url('../assets/DMSans/DMSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "DMSans", sans-serif;
  src: url('../assets/DMSans/DMSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "DMSans", sans-serif;
  src: url('../assets/DMSans/DMSans-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
